/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
 @import "bootstrap-sprockets";
 @import "bootstrap";
 html {
 	h1, h2, h3, small {color: #ccc;
 	font-family: 'Lato', sans-serif;};
 	a {color: #82FA58;
 	font-family: 'Lato', sans-serif;};
 	body{ background: #222;
 	font-family: 'Lato', sans-serif; color:#fff;} ;
 	h1 {font-weight: 900;}
 }
 .disabled, .current {
 	color: #efefef;
 }
 .user-info {
   margin-top: 9px;
 }
 .media-heading {font-weight: 700;color: #82FA58;}
 .nav {
   margin-top: 5px;
 }
 .vote-arrows {
 	width: 40px;
 	text-align:center;
 }
 .favorite {
   margin-top: 20px;
 }
 .voted {
  opacity: 0.5;
}
.jumbotron {
	background: #82FA58;
	p {color: #222;font-weight:500;}
}